<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h3 id="welcome">{{msg}}</h3>
        <h5 id="welcome" class="spacing-bottom">Remember, you got this!</h5>
        <section style="background-color: blanchedalmond">
          <!-- <ul id="example-list" class="list-group">
            {{#each database}}
            <li data-id="{{this.id}}" class="list-group-item">
              <a href="example/{{this.id}}">{{this.email}}</a>
              <p>{{first_name}}</p>
              <button class="btn btn-danger float-right delete">ｘ</button>
            </li>
            {{/each}}
          </ul> -->
          <h3>
            Sara A.
          </h3>
          <h5>
            Kids: 3 <br>
            Lives in the 94583 zip code <br>
            Born 1986 <br>
            Full-time custody <br>
            Hi, I'm Sara.  I have three kids under 8 years...
          </h5>
          <hr>
          <h3>
            Joshua J.
          </h3>
          <h5>
            Kids: 1 <br>
            Lives in the 94608 zip code <br>
            Born 1990 <br>
            Full-time custody <br>
            Hey there, I'm Josh.  And this is little Emmett... 
          </h5>
          
        </section>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/profile.js"></script>